<h1>Contacts</h1>


<form  action="/contacts" method="POST" role="form">
	
	<div class="row">
	  <div class="col-md-4 mb-3">
	    <label for="exampleInputEmail1">Email address</label>
	    <input name="email" type="email"  class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	</div>
<br/>	
	<div class="row">  
	  <div class="col-md-6 mb-6">
	  	<label> Add your messages for us (optional) </label>
		<textarea name="message" class="form-control" id="message" rows="3" spellcheck="false"></textarea>
	  </div>
	</div>

<br/>

	<input class="btn btn-primary" type="submit" value="Send">

</form>

<br/>
===================================
<br/>


<%= form_for :contacts, url: '/contacts'  do |f| %>


	<div class="row">
	  <div class="col-md-4 mb-3">
	    <label for="exampleInputEmail1">Email address</label>
	    <input name="email" type="email"  class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	</div>
<br/>	
	<div class="row">  
	  <div class="col-md-6 mb-6">
	  	<label> Add your messages for us (optional) </label>
		<textarea name="message" class="form-control" id="message" rows="3" spellcheck="false"></textarea>
	  </div>
	</div>

<br/>

	<input class="btn btn-primary" type="submit" value="Send">


<% end %>